html,
body {
  height: 100%;
}

#app {
  height: 100%;
}

* {
  margin: 0;
<<<<<<< HEAD
  padding: 0;
  box-sizing: border-box;
=======
  box-sizing: border-box;
  padding: 0;
>>>>>>> 89398f0dd17a79760ef3715fd97c1e1a7382bb92
}
a:link,
a:visited {
  text-decoration: none;
  color: black;
}
<<<<<<< HEAD

=======
>>>>>>> 89398f0dd17a79760ef3715fd97c1e1a7382bb92
ul,
li {
  list-style: none;
}
